{
  "presets": ["es2015", "stage-2", "fbjs"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-es2015-destructuring",
    "transform-async-to-generator",
    "syntax-async-functions",
    ["module-resolver", {
      "root": ["."],
      "alias": {
        "@root": ".",
        "@phantomscript": "./src",
        "@cli": "./src/cli",
        "@constants": "./src/constants",
        "@fn": "./src/fn"
      }
    }]
  ]
}
